<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter" />
  </configSections>

  <appSettings />
  <urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="Default.aspx" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
      <add name="Rewrite0" virtualUrl="^~/CaptchaImage.aspx?(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/CaptchaImage.aspx?$1" ignoreCase="true" />
      <add name="Rewrite2" virtualUrl="^~/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx?product=$1&amp;contentURL=$2" ignoreCase="true" />
      <add name="Rewrite1" virtualUrl="^~/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Mobile_Detail.aspx?Id=$1" ignoreCase="true" />
    </rewrites>
  </urlrewritingnet>

  <connectionStrings>
		<!--<add name="ConnectionString" connectionString="Data Source=windflower.arvixe.com;Initial Catalog=mobilestore;User ID=sa;Password=s!r@j#r$p" providerName="System.Data.SqlClient"/>-->
    <add name ="ConnectionString" connectionString ="Data Source=10.157.0.125; Initial Catalog=playMovies;User ID=sa;Password=ADMIN#123" />
    <!--<add providerName="System.Data.SqlClient" name="ConnectionString" connectionString="Data Source=windflower.arvixe.com;Initial Catalog=gedgetsplus;User ID=raut;Password=raut@" />-->
  </connectionStrings>

  <system.webServer>
    <modules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />

    </modules>


  </system.webServer>
	<system.web>


    <!--<httpModules>
      <add name="UrlRewriteModule"  type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
    </httpModules>-->
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" /></assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows" />
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" /></system.web>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="Default.cshtml" />
                <add value="index.php" />
                <add value="index.html" />
                <add value="index.pl" />
                <add value="default.html" />
                <add value="index.cshtml" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
